<html lang="ja">
    <head>
        <title>XX高等学校文化祭</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="./static/icon.png">
        <link rel="stylesheet" type="text/css" href="./static/style.css">
    </head>
    <body>
        <header>
            <img class="header_icon" src="./static/icon.png"/>
            <h1 class="header_title">XX高等学校文化祭2021</h1>
            <div class="header_button">
                <input type="checkbox" id="header_menu_check">
                <label for="header_menu_check" class="header_menu_btn"><span></span></label>
            </div>
        </header>    
        {% block main %}
        {% endblock %}
        <footer>
            <hr>
            <div><h1>FOOTER</h1></div>
        </footer>
    </body>
</html>